body{
	margin:0;
	padding: 0;
}
.menu {
	position: absolute;
    left: 0;
    top: 0px;
    z-index: 5;
    height: 100px;
    width: 88%;
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu > .logo {
	max-height: 80%;
	width: auto;
}

.menu > .seccion-enlace {
	display: flex;
    height: 100%;
    align-items: center;
    right: 0;
}

.menu > .seccion-enlace > .enlace{
	display: flex;
    align-items: center;
    margin-right: 45px;
} 

.menu > .seccion-enlace > .enlace > p{
	color: #ffffff;
	font-weight: 100;
	font-size: 15px;
	margin-left: 26px;
} 

.menu > .seccion-enlace > .enlace > img{
	height:26px;
} 

.menu > .seccion-enlace > .btn-iniciar-session{
	width: 10rem;
    border: 1px solid #ffffff;
    height: 2.19rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aquamarine;
}

.seccion{
	width: 100%;
}

.sec-uno{
	height: 120vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-uno > img{
	width: 100%;
	position: absolute;
	left: 0;
	top:0;
	z-index:-2;
}

.sec-uno > .buscar-destino {
    width: 55%;
    display: flex;
}

.sec-uno > .buscar-destino > input {
   	width: 83%;
    float: left;
    height: 55px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 25px 0px 0px 25px;
    font-size: 2rem;
    padding-left: 7%;
}

.sec-uno > .buscar-destino > .icono-buscar {
    width: 10%;
    background: blueviolet;
    float: left;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 0px 25px 25px 0px;
}

.sec-uno > .opciones-top {
    width: 75%;
    height: 30vh;
    position: absolute;
    bottom: -15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sec-uno > .opciones-top > .top {
    height: 100%;
    background-color:rgba(255,255,255,0.3);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-uno > .opciones-top > .top > .suptop{
	background: #ffffff;
	height: auto;
    height: 86%;
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sec-uno > .opciones-top > .top > .suptop > .topTitulo{
    position: absolute;
    width: 80%;
    height: 35%;
    bottom: -21.5%;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-uno > .opciones-top > .top > .suptop > .topTitulo > p{
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: 900;
}

.contenido {
    padding: 0px 5% 0 5%;
}

.sec-dos {
    height: 180vh;
    width: 100%;
    background: blueviolet;
    background-image: url(../image/Seccion2/FondoSec2@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.sec-dos > .contenido > .header {
    padding-top: 28vh;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sec-dos > .contenido > .header > .encuentra-destino > p {
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: #ffffff;
}
.sec-dos > .contenido > .header > .encuentra-destino > h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    color: #ffffff;
}

.sec-dos > .contenido > .header > .botones-destino > .boton{
    background: transparent;
    width: 9rem;
    height: 34px;
    border-radius: 4.5rem;
    margin-left: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 0;
}

.sec-dos > .contenido > .header > .botones-destino > .buscarDestino{
    background: transparent;
    width: 9rem;
    height: 30px;
    border-radius: 5rem;
    margin-left: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 0;
    padding-left: 1rem;
}

.sec-dos > .contenido > .header > .botones-destino > .buscarDestino::placeholder{
    color:#ffffff;
}

.grid {
    max-width: 100%;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 19.4%;
}

.grid-item > img {
    width: 100%;
}

.grid-item {
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}

.grid-item--height2 { height: 410px; }

.grid-item--width2 { width: 39.4%; }




